body{
    width:1000px;
}

h1{
    width: 500px;
    font-size: 32px;
    color: red;
    border: 3px solid #ccc;
    padding: 8px;
    text-align: center;
    margin:0 auto;
}

h2{
    width: 500px;
    font-size: 24px;
    color: purple;
    border: solid #ccc ;
    padding: 8px;
    text-align: center;
    margin: 0 auto;

}
